/*
  Тёмная тема: принудительное переопределение.
*/

:root.theme-dark {
  --page-bg-image: url(../images/cover-image-dark.png);
  --page-bg-color: #000028;
  --text-color: #f1b2ce;
  --section-title-color: #ff0070;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --title-decor-color: #000028;
  --button-color: #ff0070;
  --button-hover-color: rgb(255 0 112 / 0.4);
  --decor-color: #ff0070;
  --rec-display: block;
}
